body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;           /*come back on this*/
    flex-direction: column;  /*come back on this*/
    align-items: center;     /*come back on this*/
}

h1 {
    color: #333;
}

#game-board {
    width: 400px;
    height: 400px;
    border: 3px solid black;
    margin: 20px auto; /*come back on this*/
    display: grid;
    grid-template-columns: repeat(4, 1fr); /*come back on this*/
    gap: 10px;
    padding: 10px;
}

.card {
    background-color: royalblue;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s; /*come back on this*/
     box-shadow: 0 4px 8px rgba(0,0,0,0.2); /*come back on this*/
}

.card:hover {
    background-color: dodgerblue;
    transform: scale(105%); /*come back on this*/
}

