body {
    margin: 0;
    font-family: "Orbitron", sans-serif;
    display: flex;         
    flex-direction: column;  
    align-items: center;     
    
    background-image: url("images/background.jpg");
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 20px;
    color: white;
    
}

h1 {
    color: #fcfbfb;
    
}

#game-board {
    width: 400px;
    height: 400px;
    margin: 20px auto; 
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* repeat (4,..) just means doing the same thing four times
                                            and 1fr just means it takes 1 fraction of the space
                                            so they are equally spaced*/
    gap: 10px;
    padding: 10px;
    justify-content: center;
    margin-top: 5px;
    background-color:#012b55;
    border-radius: 15px;

}

.card {
    background: #a5b1c1;
    border:2px solid #6ec6ff;
    color:white;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.card:hover {
    background-color: dodgerblue;
    transform: scale(105%);
}

#message {
    font-size: 28px;
    margin-top: 10px;
    font-weight: bold;
}

#timer {
    font-size: 22px;
    margin-top: 10px;
    margin-bottom: 5px;
    color: #fdfcfc;
}

#restart-button {
    margin-top: 5px;
    margin-bottom: 0;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background: #012b55;
    color: white;
    transition: 0.2s;
    font-family: "Orbitron", sans-serif;
}

#restart-button:hover {
    background: #313030;
    transform: scale(105%);
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.6);
    display: none;
    justify-content: center;
    align-items: center;
}

.popup-content {
    background: white;
    color: black;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
}

.popup button {
    margin-top: 15px;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 15px;
}